// Variable //
// color
$primary-color: rgb(68, 68, 82);
$primary1-color: rgba(68, 68, 82, 0.719);
$secondary-color: #644da7;
$accent-color: #ab1b73;
$transparent-color: rgba(255, 255, 255, 0.9);
$gradient-color: linear-gradient(45deg, rgba(100, 77, 167, 1) 0%, rgba(171, 27, 115, 1) 100%);
$gradient-color1: linear-gradient(95deg, rgba(171, 27, 115, 1) 0%, rgb(82, 64, 136) 100%);
// font
$text-font: 'Lato',
sans-serif;